@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* --Custom font from Blast-- */
@font-face {
  font-family: 'ChakraPetraRegular';
  src: url('/fonts/ChakraPetch-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ChakraPetraMedium';
  src: url('/fonts/ChakraPetch-Medium.ttf') format('truetype');
  font-weight: 500; /* Numeric value for medium weight */
}

@font-face {
  font-family: 'ChakraPetraBold';
  src: url('/fonts/ChakraPetch-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'ChakraPetraSemiBold';
  src: url('/fonts/ChakraPetch-SemiBold.ttf') format('truetype');
  font-weight: 600; /* Numeric value for semi-bold weight */
}

@font-face {
  font-family: 'ChakraPetraLight';
  src: url('/fonts/ChakraPetch-Light.ttf') format('truetype');
  font-weight: 300; /* Numeric value for light weight */
}
/* -- */


:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
  font-family: 'ChakraPetraRegular', sans-serif;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
  font-family: 'ChakraPetraBold', sans-serif;
}

h1 {
  color: #FCFDC7;
  font-size: 2.25rem;
  font-weight: bold;
}

h2 {
  color: #FCFDC7;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-family: 'ChakraPetraRegular', sans-serif;
  font-size: 1.25rem;
  margin: 1rem 0;
  color: #9BA885;
}

a {
  font-family: 'ChakraPetraSemiBold', sans-serif;
  font-size: 1rem;
}

a:hover {
  color: #FFFFFF;
}

.btn {
  /* @apply shadow-md; */
  color: #000000;
  background-color: #FCFC03;
  font-family: 'ChakraPetraSemiBold', sans-serif;
  font-size: 1rem;
}

.btn:hover {
  background-color: #FFFFFF;
}

.btn.btn-blast {
  color: #000000;
  background-color: #FCFC03;
  font-family: 'ChakraPetraSemiBold', sans-serif;
  font-size: 1rem;
  clip-path: polygon(0% 100%, 0 50%, 10% 0, 100% 0, 100% 50%, 90% 100%);
  border-radius: 0.5rem;
}

.btn.btn-blast:hover {
  background-color: #FFFFFF;
}

.btn.btn-ghost {
  @apply shadow-none;
}

/* Maturity Bar in Footer */
.maturity {
  @apply shadow-lg;
  font-family: 'ChakraPetraSemiBold', sans-serif;
}

/* Text box shape on Main/Home page */
.splash {
  background-color: #11140C;
  clip-path: polygon(0% 100%, 0 22%, 8% 7%, 35% 7%, 40% 0, 100% 0%, 100% 85%, 92% 100%);
  border-radius: 1rem;
  max-height: 60vh;
  margin: 1rem 2rem;
}