@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* @import "../public/fonts/ChakraPetch-Regular.ttf";
@import "../public/fonts/ChakraPetch-Medium.ttf";
@import "../public/fonts/ChakraPetch-Bold.ttf";
@import "../public/fonts/ChakraPetch-SemiBold.ttf";
@import "../public/fonts/ChakraPetch-Light.ttf"; */

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

h1 {
  color: #FCFDC7;
  font-size: 2.25rem;
  font-weight: bold;
}

h2 {
  color: #FCFDC7;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  /* font-family: 'ChakraPetraRegular', sans-serif;
  font-size: 1.25rem; */
  margin: 1rem 0;
  color: #9BA885;
}

.btn {
  /* @apply shadow-md; */
  color: #000000;
  background-color: #FCFC03;
   /* font-family: 'ChakraPetraRegular', sans-serif;
  font-size: 1rem; */
}

.btn:hover {
  background-color: #FFFFFF;
}

.btn.btn-blast {
  color: #000000;
  background-color: #FCFC03;
   /* font-family: 'ChakraPetraRegular', sans-serif;
  font-size: 1rem; */
  /* clip-path: polygon(0% 100%, 0 40%, 7% 0, 100% 0, 100% 60%, 93% 100%); */
  clip-path: polygon(0% 100%, 0 50%, 10% 0, 100% 0, 100% 50%, 90% 100%);
  border-radius: 0.5rem;
}

.btn.btn-blast:hover {
  background-color: #FFFFFF;
}

.btn.btn-ghost {
  @apply shadow-none;
}
